@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  font-family: "Press Start 2P", "Courier New", monospace;
}
body {
  text-align: center;
  background-color: black;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-bottom: 1em;
  color: white;
}
#board {
  background-color: black;
}
#again {
  margin-top: 2em;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  border: none;
}
#again:active {
  transform: translateY(7px);
}
